{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ title }} Run{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method=post>
    <h2>Generate Histogram GIF</h2>

    <p><i>
        Please specify the following parameters for generating the GIF. Pre-training initializations can be seen at epoch 0.
        The maximum epoch available is the number of trained epochs ({{ max_epoch }}).
    </i></p>
    <b>Starting Epoch: </b><input name="start" id="start" type="number" min="0" max="{{ max_epoch }}" value="{{ request.form['start'] }}" required><br>
    <b>Ending Epoch: </b><input name="stop" id="stop" type="number" min="0" max="{{ max_epoch }}" value="{{ request.form['stop'] }}" required><br>
    <b>Interval Frequency: </b><input name="freq" id="freq" type="number" min="1" max="{{ max_epoch }}" value="{{ request.form['freq'] }}" required><br>
    <b>Frames Per Second (FPS): </b><input name="fps" id="fps" type="number" min="1" max="60" value="{{ request.form['fps'] }}" required><br>
    <b>Number of Times to Display Final Image: </b><input name="final_img_frames" id="final_img_frames" type="number" min="1" max="100" value="{{ request.form['final_img_frames'] }}" required><br>
    <hr><br>

    <p><i>
        Please specify whether you are interested in generating histograms for the Generator or Discriminator network.
    </i></p>
    <input type="radio" name="net" id="net" value="Generator">Generator</input><br>
    <input type="radio" name="net" id="net" value="Discriminator">Discriminator</input><br>
    <br>
    <input type="submit" name="download" value="Download">
</form>
<form method=post><input type="submit" name="back" value="Back"></form>
{% endblock %}