{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ title }} Run{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Available Visualizations</h2>

<table border="1" class="dataframe" id="viz_table">
    <thead>
    <tr style="text-align: right;">
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for viz in available_basic_viz %}
    <tr id="{{ loop.index }}">
        <td id="viz_button{{ viz.title }}">
            <a href="{{ url_for('viz.show_img', img_key = viz.title) }}">{{ viz.pretty_title }}</a>
        </td>
        <td>{{ viz.description }}</td>
    </tr>
    {% endfor %}
    {% for viz in available_hist_viz %}
    <tr id="{{ loop.index }} + {{ available_basic_viz|length }}">
        <td id="viz_button{{ viz.title }}">
            <a href="{{ url_for('viz.histograms') }}">{{ viz.pretty_title }}</a>
        </td>
        <td>{{ viz.description }}</td>
    </tr>
    {% endfor %}
    {% if format == 'Tabular' %}
        {% for viz in available_tabular_viz %}
            <tr id="{{ loop.index }} + {{ available_basic_viz|length }} + {{ available_hist_viz|length }}">
                <td id="viz_button{{ viz.title }}">
                    <a href="{{ url_for(viz.url_func) }}">{{ viz.pretty_title }}</a>
                </td>
                <td>{{ viz.description }}</td>
            </tr>
        {% endfor %}
    {% elif format == 'Image' %}
        {% for viz in available_image_viz %}
            <tr id="{{ loop.index }} + {{ available_basic_viz|length }} + {{ available_hist_viz|length }}">
                <td id="viz_button{{ viz.title }}">
                    <a href="{{ url_for(viz.url_func) }}">{{ viz.pretty_title }}</a>
                </td>
                <td>{{ viz.description }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}