.idea
downloads/
venv/
__pycache__
.ipynb_checkpoints/
catboost_info
experiments/
runs/
dump.rdb
instance/
genned_data/
logs/
.coverage
build
CSDGAN.egg-info
dist/
.env
incoming_raw_data
CSDGAN/test.py
CSDGAN/static/visualizations/