absl-py==0.7.1
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
grpcio==1.21.1
idna==2.8
joblib==0.13.2
kaggle==1.5.3
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.0
numpy==1.16.3
pandas==0.24.2
Pillow==6.0.0
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-slugify==3.0.2
pytz==2019.1
requests==2.22.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
tensorboard==1.13.1
text-unidecode==1.2
torch==1.1.0
torchgan==0.0.2
torchvision==0.3.0
tqdm==4.32.1
urllib3==1.24.3
Werkzeug==0.15.4
wget==3.2
imageio==2.5.0
opencv-python