absl-py==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
catboost==0.18.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.4
cycler==0.10.0
decorator==4.4.0
Flask==1.1.1
Flask-Moment==0.8.0
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.4.0
graphviz==0.11.1
grpcio==1.21.1
gunicorn==19.9.0
idna==2.8
imageio==2.5.0
importlib-metadata==0.19
ipython==7.6.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.14.0
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter-core==4.5.0
kaggle==1.5.3
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
more-itertools==7.2.0
nbformat==4.4.0
numpy==1.16.3
opencv-python==4.1.0.25
packaging==19.1
pandas==0.24.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
plotly==3.10.0
pluggy==0.12.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.2
PyMySQL==0.9.3
pyparsing==2.4.0
pyrsistent==0.15.3
pytest==5.0.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-slugify==3.0.2
pytz==2019.1
redis==3.2.1
requests==2.22.0
retrying==1.3.3
rq==1.1.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
SQLAlchemy==1.3.6
tensorboard==1.13.1
text-unidecode==1.2
torch==1.2.0
torchgan==0.0.2
torchvision==0.4.0
torchviz==0.0.1
tqdm==4.32.1
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.15.4
wget==3.2
zipp==0.5.2
