{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Continue Training - {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method=post>
    <h2>Number of Epochs</h2>
    <p><i>
        Please specify the number of additional epochs for which to train. This represents the number of times to iterate over the data set when training.
        Higher values mean training will take longer, but could yield better results. If left blank, a default value of {{ default_num_epochs }} will be used.
    </i></p>
    <input name="num_epochs" type="number" min="1" max="{{ max_num_epochs }}" id="num_epochs" value="{{ request.form['num_epochs'] }}">
    <br>
    <input type="submit" name="train" value="Train">
</form>
<form method=post><input type="submit" name="cancel" value="Cancel"></form>
{% endblock %}