{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Welcome to CSDGAN!{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('create.create') }}">New Run</a>
{% endif %}
{% endblock %}

{% block content %}
<h2>Run Status</h2>

{% if not logged_in %}
<p>It doesn't look like you are logged in yet. <a href="{{ url_for('auth.login') }}">Click here</a> to log in or
    <a href="{{ url_for('auth.register') }}">here</a> to register if you haven't already.</p>
{% elif runs is not defined %}
<p>It doesn't look like you have any runs yet. <a href="{{ url_for('create.create') }}">Click here</a> to get started!</p>
{% else %}

<script src="{{ url_for('static', filename='index.js') }}"></script>
<table border="1" class="dataframe" id="status_table">
    <thead>
    <tr style="text-align: right;">
        <th>Name</th>
        <th>Format</th>
        <th>Start Time</th>
        <th>Last Updated</th>
        <th>Status</th>
        <th>Refresh Status</th>
        <th>Download Data</th>
        <th>Get More Data</th>
        <th>Visualize Results</th>
        <th>Continue Training</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for run in runs %}
    <tr id="{{ loop.index }}">
        <td>{{ run.title }}</td>
        <td>{{ run.format }}</td>
        <td>{{ moment(timestamp=run.start_time, local=True).calendar() }}</td>
        <td id="update_time{{ loop.index }}">{{ moment(timestamp=run.update_time, local=True).fromNow() }}</td>
        <td id="status{{ loop.index }}">{{ run.descr }}</td>
        <td><a href="#" onclick="refresh_status({{ loop.index }})">Refresh</a></td>
        {% if 'Data available' in run.descr %}
        <td id="download_button{{ loop.index }}">
            <form method="post" action="{{ url_for('home.download_data') }}" class="inline">
                <button type="submit" name="index" value="{{ loop.index }}" class="link-button">Download Data</button>
            </form>
        </td>
        <td id="gen_more_data_button{{ loop.index }}">
            <form method="post" action="{{ url_for('home.gen_more_data') }}" class="inline">
                <button type="submit" name="index" value="{{ loop.index }}" class="link-button">Generate More Data</button>
            </form>
        </td>
        <td id="visualize_button{{ loop.index }}">
            <form method="post" action="{{ url_for('viz.viz') }}" class="inline">
                <button type="submit" name="index" value="{{ loop.index }}" class="link-button">See Visualizations</button>
            </form>
        </td>
        <td id="continue_training_button{{ loop.index }}">
            <form method="post" action="{{ url_for('home.continue_training') }}" class="inline">
                <button type="submit" name="index" value="{{ loop.index }}" class="link-button">Train Longer</button>
            </form>
        </td>
        {% else %}
        <td id="download_button{{ loop.index }}">
            <form method="post" action="{{ url_for('home.download_data') }}" class="inline">
                <button class="invis-button"></button>
            </form>
            ----
        </td>
        <td id="gen_more_data_button{{ loop.index }}">
            <form method="post" action="{{ url_for('home.gen_more_data') }}" class="inline">
                <button class="invis-button"></button>
            </form>
            ----
        </td>
        <td id="visualize_button{{ loop.index }}">
            <form method="post" action="{{ url_for('viz.viz') }}" class="inline">
                <button class="invis-button"></button>
            </form>
            ----
        </td>
        <td id="continue_training_button{{ loop.index }}">
            <form method="post" action="{{ url_for('home.continue_training') }}" class="inline">
                <button class="invis-button"></button>
            </form>
            ----
        </td>
        {% endif %}
        <td id="delete_button{{ loop.index }}"><a href="#" onclick="delete_button({{ loop.index }})">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}