{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Run - {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method=post>
    <h2>Dependent Variable Title</h2>
    <p><i>If you would like to override the default dependent variable title of {{ default_dep_var }}, please enter in a title below.</i></p>
    <input name="dep_var" id="dep_var" value="{{ request.form['dep_var'] }}" required>
    <hr>
    <h2>Image Dimensions</h2>
    <p><i>
        Please specify the width and height of the desired output images.
        We have gone ahead and parsed the dimensions of the first image found in the dataset and found it to be
        {{ default_x_dim[0] }} by {{ default_x_dim[1] }}. If left blank, this default value will be used.
    </i></p>
    <input name="x_dim_width" type="number" min="1" max="{{ max_x_dim }}" id="x_dim_width" value="{{ request.form['x_dim_width'] }}">
    <input name="x_dim_length" type="number" min="1" max="{{ max_x_dim }}" id="x_dim_length" value="{{ request.form['x_dim_length'] }}">
    <hr>
    <h2>Batch Size</h2>
    <p><i>
        The number of images to train the algorithm on simultaneously. Higher batch size means faster training,
        but at the cost of utilizing higher amounts of RAM. There are also some considerations to regularization and
        training stability. If left blank, the default value of {{ default_bs }} will be used.
    </i></p>
    <input name="bs" type="number" min="1" max="{{ max_bs }}" id="bs" value="{{ request.form['bs'] }}">
    <hr>
    <hr>
    <h2>Train/Validation/Test Splits</h2>
    <p><i>
        The proportion of the images to be used for training versus validation versus testing. If left blank,
        the default split of {{ default_splits[0] }} for training, {{ default_splits[1] }} for validation, and
        {{ default_splits[2] }} for testing will be used.
    </i></p>
    <input name="splits_0" type="number" min="0" max="1" id="splits_0" value="{{ request.form['splits_0'] }}">
    <input name="splits_1" type="number" min="0" max="1" id="splits_1" value="{{ request.form['splits_1'] }}">
    <input name="splits_2" type="number" min="0" max="1" id="splits_2" value="{{ request.form['splits_2'] }}">
    <hr>
    <h2>Number of Epochs</h2>
    <p><i>This represents the number of times to iterate over the data set when training. Higher values mean training will take longer, but could yield better results.
        If left blank, a default value of {{ default_num_epochs }} will be used.</i></p>
    <input name="num_epochs" type="number" min="1" max="{{ max_num_epochs }}" id="num_epochs" value="{{ request.form['num_epochs'] }}">
    <br>
    <input type="submit" value="Next">
</form>
<form method=post><input type="submit" name="cancel" value="Cancel"></form>
{% endblock %}