{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Run - {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method=post>
    <h2>Dependent Variable Title</h2>
    <p><i>If you would like to override the default dependent variable title of {{ default_dep_var }}, please enter in a title below.</i></p>
    <input name="dep_var" id="dep_var" value="" required>
    <hr>
    <h2>Image Dimensions</h2>
    <p><i>
        Please specify the width and height of the desired output images.
        We have gone ahead and parsed the dimensions of the first image found in the dataset and found it to be
        {{ default_x_dim[0] }} by {{ default_x_dim[1] }}. If left blank, this default value will be used.
    </i></p>
    <input name="x_dim_width" type="number" min="1" max="{{ max_num_epochs }}" id="x_dim_width" value="">
    <input name="x_dim_length" type="number" min="1" max="{{ max_num_epochs }}" id="x_dim_length" value="">
    <hr>
    <h2>CONTINUE HERE!!!</h2>
    <p><i>This should be a subset of your numeric features. Again, you can select multiple by holding ctrl/cmd.</i></p>
    <select name="int_inputs" multiple size="5">
        {% for col in cols %}
        <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <hr>
    <h2>Number of Epochs</h2>
    <p><i>This represents the number of times to iterate over the data set when training. Higher values mean training will take longer, but could yield better results.
        If left blank, a default value of {{ default_num_epochs }} will be used.</i></p>
    <input name="num_epochs" type="number" min="1" max="{{ max_num_epochs }}" id="num_epochs" value="{{ request.form['num_epochs'] }}">
    <br>
    <input type="submit" value="Next">
</form>
<form method=post><input type="submit" name="cancel" value="Cancel"></form>
{% endblock %}