{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Run - {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method=post>
    <h2>Specify Output for {{ dep_var }} Dependent Variable by Class</h2>
    <p><i>For each output class, please specify the number of examples you would like to be generated.
        You can select a maximum of {{ max_examples_per_class }} examples per class
        (you can always select more after the model has finished training if you are pleased with the results).
        We have gone ahead and parsed the classes that exist in the data set for you.</i></p>
    {% for class in dep_choices %}
    <b>{{ class }}: </b><input type="number" min="0" max="{{ max_examples_per_class }}" name="{{ class }}" style="width:80px"><br>
    {% endfor %}
    <br>
    <input type="submit" value="Next">
</form>
<form method=post><input type="submit" name="cancel" value="Cancel"></form>
{% endblock %}