{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}About CSDGAN{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<h2>What exactly is CSDGAN?</h2>
<p>Conditional Synthetic Data Generative Adversarial Network (CSDGAN) is a variant of the traditional GAN whose
    purpose is to generate synthetic data conditional on a class label. The goal is to build a flexible architecture
    that can generalize to a large variety of tabular and image-based data sets.</p>
<hr>
<h2>Why CSDGAN?</h2>
<p>There are three key motivators behind CSDGAN:</p>
<ol>
    <li><p>Data augmentation for imbalanced data sets</p></li>
    <li><p>Data augmentation for data sets of insufficient size to train high quality models</p></li>
    <li><p>Ability to share valuable training data that may not otherwise be shareable due to confidentiality or privacy concerns</p></li>
</ol>
<hr>
<h2>How do I use CSDGAN?</h2>
<p>This simple website should be fairly straightforward to point-and-click through, but below is a simple rundown of the process:</p>
<ul>
    <li><p>Collect the data set of interest. Currently, both tabular and image based data sets are supported.</p></li>
    <li><p>Format the data set in the appropriate format. For tabular data sets, this just means storing the table in a
        txt or csv format, with column names in the first row. For image data sets, you will want to organize your data set
        into one folder per class (with the class as the name of the folder), and then zip these folders into a compressed zip
        format. Images should be stored in a typical image format (e.g. png, jpg, etc.).</p></li>
    <li><p>If you haven't already, don't forget to <a href="{{ url_for('auth.register') }}">Register</a> and
        <a href="{{ url_for('auth.login') }}">Log In</a> to your account before trying to upload data.</p></li>
    <li><p>Once you are ready to upload, proceed to the <a href="{{ url_for('create.create') }}">New Run</a> link, where you can
        begin to upload your data set and answer a few relevant questions based on your data set.</p></li>
    <li><p>When you have completed all of the above, you can sit back and relax. Tabular data sets shouldn't take very long
        to run, but image data sets could take up to an hour or more. You can check the status of your run from the
        <a href="{{ url_for('home.index') }}">Home</a> page at any time, as well as collect your final results there.</p></li>
    <li><p>If you are satisfied with the quality of the generated data, you also have the option to generate additional data from completed runs.</p></li>
    <li><p>Ready to get started? <a href="{{ url_for('create.create') }}">Click here</a> to begin your first run!</p></li>
</ul>
<hr>
<h2>Where is CSDGAN going next?</h2>
<p>In addition to adding minor new features, cleaning up this website, and fixing bugs as they appear, the first stretch goal is to support
    NLP data sets as well, as it is a known issue that these data sets are often highly imbalanced and could stand
    to benefit from this approach.</p>
<hr>
<h2>How do I contact you or get involved?</h2>
<p>Feel free to reach out to me (Andrew Gray) with any questions, comments, or concerns about this project. You can
    reach me at the following links below:</p>
<ul>
    <li><p><a href="mailto:aj.gray619@gmail.com">aj.gray619@gmail.com</a></p></li>
    <li><p><a href="https://www.linkedin.com/in/andrewjohngray/">LinkedIn.com/in/AndrewJohnGray</a></p></li>
    <li><p><a href="https://www.github.com/Atrus619">GitHub.com/Atrus619</a></p></li>
    <li><p><a href="https://www.wyzant.com/Tutors/DataScienceByAndrew">Wyzant.com/Tutors/DataScienceByAndrew</a></p></li>
</ul>
<br>
<p>If you would like to directly get involved in contributing to this project, you can find the repository
    <a href="https://github.com/Atrus619/CSDGAN">here</a>:</p>
{% endblock %}
