{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Welcome to CSDGAN!{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('create.create') }}">New Run</a>
{% endif %}
{% endblock %}

{% block content %}
<h2>Run Status</h2>

{% if not logged_in %}
<p>It doesn't look like you are logged in yet. <a href="{{ url_for('auth.login') }}">Click here</a> to log in or
    <a href="{{ url_for('auth.register') }}">here</a> to register if you haven't already.</p>
{% elif runs is not defined %}
<p>It doesn't look like you have any runs yet. <a href="{{ url_for('create.create') }}">Click here</a> to get started!</p>
{% else %}

<table border="1" class="dataframe">
    <thead>
    <tr style="text-align: right;">
        <th>Name</th>
        <th>Data Format</th>
        <th>Start Time</th>
        <th>Last Updated</th>
        <th>Status</th>
        <th>Download</th>
        <th>Want More?</th>
    </tr>
    </thead>
    <tbody>
    {% for run in runs %}
    <tr>
        <td>{{ run.title }}</td>
        <td>{{ run.format }}</td>
        <td>{{ run.start_time }}</td>
        <td>{{ run.update_time }}</td>
        <td>{{ run.descr }}</td>
        {% if 'Data available' in run.descr %}
        <td>Download Data</td>
        <td>Generate More Data</td>
        {% else %}
        <td>----</td>
        <td>----</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}

